services:
  watchtower:
    image: containrrr/watchtower
    container_name: watchtower
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    restart: always
    environment:
      WATCHTOWER_NOTIFICATIONS_HOSTNAME: linux-cache
      WATCHTOWER_POLL_INTERVAL: 3600

  cloudflare:
    image: cloudflare/cloudflared:latest
    container_name: cloudflare
    restart: always
    command: tunnel --no-autoupdate run --token $CLOUDFLARE_TUNNEL_TOKEN
    depends_on:
      registry:
#        condition: service_started
        condition: service_healthy

  registry:
    image: registry:latest
    container_name: registry
    hostname: registry_docker
    restart: always
    environment:
      - REGISTRY_HTTP_SECRET=$REGISTRY_HTTP_SECRET
      - OTEL_TRACES_EXPORTER=none
    ports:
      - "8080:5000/tcp"
    volumes:
      - ./registry-config.yml:/etc/docker/registry/config.yml:r
      - ./registry-config.yml:/etc/distribution/config.yml:r
      - registry-data:/var/lib/registry
    healthcheck:
      test: wget --no-verbose --tries=1 --spider http://localhost:5000/v2/ || exit 1
      interval: 5s
      timeout: 4s
      retries: 5

  cache:
    image: registry:latest
    container_name: cache
    restart: always
    environment:
      - REGISTRY_HTTP_SECRET=$REGISTRY_HTTP_SECRET
      - OTEL_TRACES_EXPORTER=none
    ports:
      - "8081:5000/tcp"
    volumes:
      - ./cache-config.yml:/etc/docker/registry/config.yml:r
      - ./cache-config.yml:/etc/distribution/config.yml:r
      - registry-cache-data:/var/lib/registry
    healthcheck:
      test: wget --no-verbose --tries=1 --spider http://localhost:5000/v2/ || exit 1
      interval: 5s
      timeout: 4s
      retries: 5

volumes:
  registry-data:
    name: registry-data
    external: true
  registry-cache-data:
    name: registry-cache-data
    external: true
